@model CoverTypeModel

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Cover type Category</h2>
            <hr />

        </div>
        <div class="mb-3">
            <label asp-for="cover_Name"></label>
            <input asp-for="cover_Name" class="form-control" />
            <span asp-validation-for="cover_Name" class="text-danger"></span>

        </div>
       
        <button class="btn btn-primary" type="submit" style="width:40%">Save </button>&nbsp;
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:40%">Show Category</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
            }